In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow.keras import layers

In [3]:
# Load the data
df = pd.read_csv('train_set.csv')

In [8]:
df.head(1)

,0,1,2,3,4,5,6,7,8,9,...,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172
0,sad,0.403467,0.559855,-0.019898,0.0,0.398271,0.511456,-0.044885,0.0,0.402589,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0